//
// Alert
// --------------------------------------------------------------------------

.c-alert {
  --alert-color-text: #{color('white')};
  --alert-color-background: #{color('black')};
  --alert-color-border: var(--alert-color-background);

  padding: spacer('sm');
  color: var(--alert-color-text);
  background: var(--alert-color-background);
  border: 1px solid var(--alert-color-border);
  border-radius: $border-radius;

  p {
    margin: 0 0 spacer('xs');

    &:last-child {
      margin: 0;
    }
  }
}

// Alternate styles
// --------------------------------------------------------------------------

.c-alert--info {
  --alert-color-background: hsl(219, 100%, 65%);
}

.c-alert--success {
  --alert-color-background: hsl(116, 54%, 42%);
}

.c-alert--warning {
  --alert-color-background: hsl(34, 100%, 50%);
}

.c-alert--error {
  --alert-color-background: hsl(7, 70%, 50%);
}
