//
// Global
// --------------------------------------------------------------------------

// Page
// --------------------------------------------------------------------------

html {
  height: 100%;
  font-size: 62.5%; // IE9-IE11 math fixing
  font-size: calc(1em * 0.625);
}

body {
  position: relative;
  color: color('black');
  font-weight: font-weight('regular');
  font-size: font-size('sm');
  font-family: $font-family-base;
  line-height: $line-height-base;
}

// Focus state
// --------------------------------------------------------------------------

* {
  &:focus {
    outline: 1px dashed color('gray-light');
    outline-offset: 0.15em;
  }
}

// Selection
// --------------------------------------------------------------------------

::selection {
  color: color('white');
  background-color: color('primary');
}

// Texts
// --------------------------------------------------------------------------

blockquote {
  p {
    &:first-child {
      &::before {
        content: '« ';
      }
    }

    &:last-child {
      &::after {
        content: ' »';
      }
    }
  }
}

cite {
  font-size: 0.9em;
}

// links
// --------------------------------------------------------------------------

a {
  color: color('primary');
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

// Images
// --------------------------------------------------------------------------

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  vertical-align: top;
  transition: fill 0.2s ease-in-out;
  fill: currentColor;
}

// Animations
// --------------------------------------------------------------------------

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
